.App {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 1em 1em;
  grid-template-areas:
    'heading heading search search search'
    'graph graph graph countries countries'
    'news news top10graph hints hints'
    'map map map map map';

  &__heading {
    colgrid-area: heading;
  }
  &__search {
    grid-area: search;
  }
  &__countries {
    grid-area: countries;
  }
  &__graph {
    grid-area: graph;
  }
  &__news {
    grid-area: news;
  }
  &__map {
    grid-area: map;
  }
  &__top10graph {
    grid-area: top10graph;
  }
  &__hints {
    grid-area: hints;
  }
}
